<div class="jumbotron masthead">
  <div class="container">
    <h1>Cleartime TV</h1>
    <p>We offer the lowest cost and the best quality television packages in America.</p>
    <div class="btn btn-inverse btn-large" >Order Now!</div>
  </div>
</div>

<div class="bs-docs-social">
  <div class="container">
<ul class="bs-docs-social-buttons">
  <!--<li>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=twitter&repo=bootstrap&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
      </li>
      <li>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=twitter&repo=bootstrap&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe>
      </li>-->
      <i class="icon-thumbs-up"></i>
        <a href="https://facebook.com/" data-link-color="#0069D6" data-show-count="true">Like us on Facebook!</a>
      
      <!--<li class="tweet-btn">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://twitter.github.com/bootstrap/" data-count="horizontal" data-via="twbootstrap" data-related="mdo:Creator of Twitter Bootstrap">Tweet</a>
      </li>-->
    </ul>
  </div>
</div>

<div class="container">
  <div class="marketing">
    <h1>Introducing Simplicity.</h1>
    <p class="marketing-byline">America's Top Three Television Packages</p>
    <div class="row-fluid">

<!-- --------------------------------------------------- -->

      <div class="span4">
        <div class="hero-unit">
          <h3>America's Top 120</h3>
          <hr class="soften1">
          
          <h0 class="text-right">$29.99</h0>
          <br>
          <button class="btn-inverse btn-small text-right" type="button" data-toggle="modal" data-target="#myModal1">190+ Channels</button>
          <div id="myModal1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Channels Included in this Package.</h3>
            </div>
            <div class="modal-body text-left">
              <div class="span6">
                <ul>
                    <li>A&E</li>
                    <li>ABCFM ABC Family</li>
                    <li>AMC</li>
                    <li>ALIVE America Live</li>
                    <li>ANGEL</li>
                    <li>ANGL2</li>
                    <li>AXS</li>
                    <li>BUY!</li>
                    <li>TOON Cartoon Network(E)</li>
                    <li>TOONW Cartoon Network(W)</li>
                    <li>CCTVE CCTV-E</li>
                    <li>CCNEWS CCTV-News</li>
                    <li>CHRCH Church Channel</li>
                    <li>CMT</li>
                    <li>CNBC</li>
                    <li>CNN</li>
                    <li>CMDY Comedy Central</li> 
                    <li>CSPN2 C-SPAN2</li>
                    <li>DYSTR Daystar</li>
                    <li>DISC Discovery Channel</li>
                    <li>DISE Disney Channel (E)</li>
                    <li>DISW Disney Channel (W)</li>
                    <li>DOC Documentary Channel</li>
                    <li>E! Entertainment Television</li>
                    <li>ESPN</li>
                    <li>ESPN2</li>
                    <li>ESNWS</li>
                    <li>ESPNU</li>
                    <li>FOOD Food Network</li>
                    <li>FXNWS FOX News Channel</li>
                    <li>FUSE</li>
                    <li>FX SAP</li>
                    <li>GEMS Gems & Jewelry TV</li> 
                    <li>HGTV</li>
                    <li>HIST History</li> 
                    <li>HLN </li>
                    <li>HRTV HorseRacing</li>
                    <li>HRTV</li>
                    <li>Pursuit Channel</li>
                    <li>TV Games Network</li>
                    <li>DishCD Music Channels</li> 
                  </ul>                              
              </div>
              <div class="span6">
                <ul>
                  <li>ESPN</li>
                  <li>ESPN2</li>
                  <li>ESPNEWS</li>
                  <li>ESPNU</li>
                  <li>HSN</li>
                  <li>HSN2</li>
                  <li>IFC</li>
                  <li>ICTV In Country Television</li>
                  <li>INSP Inspiration Network </li>
                  <li>ION(E)</li> 
                  <li>IONW(W)</li> 
                  <li>JTV Jewelry Television</li> 
                  <li>LIFE Lifetime</li>
                  <li>MALL</li> 
                  <li>MTV</li> 
                  <li>MTV2</li> 
                  <li>NICK Nick/Nick at Nite(E)</li> 
                  <li>NICKW Nick/Nick at Nite(W)</li>
                  <li>PRAYR Prayer</li> 
                  <li>QVC</li>
                  <li>REELZ ReelzChannel SAP</li>
                  <li>SALE</li>
                  <li>SHOP</li>
                  <li>SHNBC ShopNBC</li>
                  <li>SBN SonLife Broadcasting Network</li>
                  <li>SPIKE Spike TV</li> 
                  <li>SYFY</li> 
                  <li>TBS</li> 
                  <li>TLC</li>
                  <li>TNT</li> 
                  <li>TRV Travel Channel</li>
                  <li>TVGAM TV Game Network</li> 
                  <li>TVGN TV Guide Network</li> 
                  <li>TVLND TV Land</li> 
                  <li>USA</li>
                  <li>VLCTY VELOCITY</li>
                  <li>VH1</li>
                  <li>TWC Weather Channel</li> 
                  <li>WE TV</li>
                  <li>SiriusXM Music Channels</li>                  
                </ul>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-inverse" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
          </div>

          <small><ul class="text-left">
            <li>USA, CNN, CMT, Disney, ESPN, E!</li>
            <li>Save $25/month for 12 months</li>
            <li>Everyday low price $54.99/mo</li>
            <li>Free Hopper® Whole-Home HD DVR Upgrade</li>
          </ul></small>
        </div>
      </div>

<!-- --------------------------------------------------- -->

      <div class="span4">
        <div class="hero-unit">
          <h3>America's Top 200</h3>
          <hr class="soften1">
          <h0>$39.99</h0>
          <br>
          <button class="btn-inverse btn-small text-right" type="button" data-toggle="modal" data-target="#myModal2">220+ Channels</button>
          <div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Includes America’s Top 120 Channels PLUS those below. </h3>
            </div>
            <div class="modal-body text-left">
              <div class="span6">
                <ul>
                  <li>APL Animal Planet</li>
                  <li>BBCA BBC America</li>
                  <li>BET</li>
                  <li>BRAVO</li>
                  <li>CBSSN CBS Sports Network</li>
                  <li>CURNT Current TV</li>
                  <li>DISXD Disney XD SAP</li>
                  <li>FOXB Fox Business Network</li>
                  <li>G4</li>
                  <li>GLVSN Galavisión</li>
                  <li>GOLF Golf Channel</li>
                  <li>GSN</li>
                  <li>HLMRK Hallmark Channel</li>
                  <li>ID Investigation Discovery</li>
                  <li>LMN Lifetime Movie Network</li>
                  <li>MLBN MLB Network</li>
                  <li>MSNBC</li>
                  <li>NTGEO National Geographic Channel</li>
                  <li>NBATV</li>
                  <li>NFL Network</li>
                  
                </ul>
              </div>
              <div class="span6">
                <ul>
                  <li>NKJR Nick Jr.</li>
                  <li>NHLN NHL Network</li>
                  <li>NUVO nuvoTV</li>
                  <li>OVATN Ovation</li>
                  <li>OWN: Oprah Winfrey Network</li>
                  <li>OXYGN</li>
                  <li>RFDTV</li>
                  <li>SCI Science</li>
                  <li>SOAP SOAPnet</li>
                  <li>SPEED</li>
                  <li>STYLE</li>
                  <li>SUND Sundance Channel</li>
                  <li>TNCK TeenNick</li>
                  <li>HUB The Hub</li>
                  <li>TRU truTV</li>
                  <li>TCM Turner Classic Movies</li>
                  <li>UNIME UniMÁS (E)1</li>
                  <li>UNIMW UniMÁS (W)1</li>
                  <li>UNVSN Univisión (E)</li>
                  <li>UNVSW Univisión (W)</li>
                  <li>UDEP Univisión Deportes Network</li>
                  <li>WGN America</li>
                </ul>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-inverse" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
          </div>
          <small><ul class="text-center">
            <li>Disney XD, Bravo, Nick Jr., NFL Network, MLB</li>
            <li>Save $30/month for 12 months</li>
            <li>Everyday low price $69.99/mo</li>
            <li>Free Hopper® Whole-Home HD DVR Upgrade</li>
          </ul></small>
        </div>
      </div>

<!-- --------------------------------------------------- -->

      <div class="span4">
        <div class="hero-unit">
          <h3>America's Top 250</h3>
          <hr class="soften1">
          <h0>$44.99</h0>
          <br>
          <button class="btn-inverse btn-small text-right" type="button" data-toggle="modal" data-target="#myModal3">260+ Channels</button>
          <div id="myModal3" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Includes America’s Top 200 Channels PLUS those below.</h3>
            </div>
            <div class="modal-body text-left">
              <div class="span6">
                <ul>
                  <li>BEIN beIN SPORT SAP</li>
                  <li>BIO Bio</li>
                  <li>BITV Bloomberg Television</li>
                  <li>BOOM Boomerang SAP</li>
                  <li>CHILR Chiller</li>
                  <li>CLOO</li>
                  <li>COOK Cooking Channel</li>
                  <li>AMERI Destination America</li>
                  <li>DIY</li>
                  <li>ENCRW Encore (W) SAP</li>
                  <li>EACTN Encore Action</li>
                  <li>EDRAM Encore Drama</li>
                  <li>EFAM Encore Family</li>
                  <li>ELOVE Encore Love</li>
                  <li>ESUSP Encore Suspense</li>
                  <li>EWSTN Encore Westerns</li>
                  <li>EPXDR EPIX DRIVE-IN SAP</li>
                  <li>FOXMO Fox Movie Channel</li>
                  <li>FSC Fox Soccer Channel</li>
                </ul>
              </div>
              <div class="span6">
                <ul>
                  <li>FUEL TV</li>
                  <li>GAC Great American Country (GAC)</li>
                  <li>H2</li>
                  <li>HMC Hallmark Movie Channel</li>
                  <li>MIL Military Channel</li>
                  <li>MPLEX MoviePlex</li>
                  <li>MUN2</li>
                  <li>NATGW Nat Geo WILD</li>
                  <li>NBCSP NBC Sports Network</li>
                  <li>NICKT Nicktoons Network</li>
                  <li>OTDCH Outdoor Channel</li>
                  <li>RURAL Rural TV</li>
                  <li>SPMAN Sportsman Channel</li>
                  <li>TENIS Tennis Channel</li>
                  <li>BLAZE TheBlaze</li>
                  <li>TMC-W The Movie Channel (W) SAP</li>
                  <li>UP</li>
                  <li>VERIA</li>
                  <li>VH1CL VH1 Classic</li>
                </ul>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-inverse" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
          </div>
          <small><ul class="text-center">
            <li>The Movie Channel, DIY Network, H2, Nicktoons</li>
            <li>Save $35/month for 12 months</li>
            <li>Everyday low price $79.99/mo</li>
            <li>Free Hopper® Whole-Home HD DVR Upgrade</li>
          </ul></small>
        </div>
      </div>
      </div>
    </div>

    <hr class="soften" />

    
 </div>
</div>
</div>