<div class="jumbotron masthead">
  <div class="container">
    <h1>We have a mission...</h1>
    <p>and that is to provide the best customer service in the industry while making your experience as simple & easy as possible.</p>
  </div>
</div>
<hr class="soften">

  <div class="container marketing">
    <div class="row-fluid">
      <div class="span6 columns text-left">
        <h1>We've got over a decade of experience.</h1>
          <p>With that experience we founded Cleartime TV with a simple mission and we have succeeded. HALF of our customers come to us as referrals, and that is unheard of in nearly any industry. Not only do we reward our customers generously for referrals, it is possible to pay NOTHING for your service with as little as 5 of them. Our twist on marketing allows you to rest assured knowing that others have tested us and found us to be exactly what we claim.</p> 
      </div>
      <div class="span6 columns"><br><img src="/assets/lcdtv.jpg"></div>
    </div>

    <hr class="soften">

    <div class="row-fluid">
      <div class="span6 columns">
        <img src="/assets/phone.png" height="570px"></div>
      <div class="span6 columns text-left">
        <br>
        <h1>Get your own personal service rep.</h1>
          <p>As FULL SERVICE retailers for a major telecommunications company, you get your own personal customer service rep who is proactive for YOU. No more complicated menus, long holds, or difficult service departments. One call is all it takes!</p>
      </div>
    </div>
  </div>
