<div class="jumbotron masthead">
  <div class="container">
    <h1>Super simple, super free!</h1>
    <h3>and it all started with a little A.D.D...</h3>
  </div>
</div>


<div class="container marketing">
    <div class="row-fluid">
      <div class="span12">
        <h1>Pick a date. Pick a time. Write yourself a message.</h1>
      </div>
    </div>
  </div>

  <hr class="soften">

<div class="container marketing">
    <div class="row-fluid">
      <div class="span6 columns text-left">
        <h1>I was always forgetting stuff.</h1>
          <p>A.D.D sucks, I should know. I struggled with it for years until I started getting treatment for it. Most people just COULD NOT understand that I could not help but forget things and it was not my fault! That's why I created this simple service, to help others remember the tasks of daily life and to do what I can to help others who are still struggling with their A.D.D or A.D.H.D.</p> 
      </div>
      <div class="span6 columns">
        <h1>How this can help you.</h1>
        <p>Wether you have some form of A.D.D or not, this free service can help you! Lets say you have a busy week next week complete with errends, Doctor's appointments, and a honey-do list the size of your arm. Previously, this would have been a nightmare for someone with A.D.D or just a "space cadet" type of person. However, now you can pre-schedule a series of reminder text messages to remind you to complete those tasks! Just pick a date, time, and personalized message to be delivered!</p>
      </div>
    </div>
  </div>