<div class="jumbotron masthead">
  <div class="container">
    <h1>Tired of forgetting things?</h1>
    <h3>Setup a reminder text to be deliered when you choose, with your own personalized message!</h3>
    <%= link_to "Sign In", new_user_session_path, class: 'btn btn-inverse btn-large' %> or 
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-inverse btn-large' %>
  </div>
</div>

<hr class="soften">

<div class="container marketing">
    <div class="row-fluid">
      <div class="span6 columns text-left">
        <h1>Stop forgetting stuff!</h1>
          <p>Anniversaries? Birthdays? Due dates on bills? No problem! Just set up a FREE account, pick your time zone, set your phone info, then schedule reminder text messages to be delivered in enough time to remember those important tasks or dates!</p> 
      </div>
      <div class="span6 columns">
        <h1>Completely free with no ads!</h1>
        <p>Never pay a fee and never be forced to view some annoying ad or banners of any kind!</p>
      </div>
    </div>
  </div>