<div class="jumbotron masthead">
  <div class="container">
    <h1>Want $100 Cash?</h1>
    <small>$50 to $150 depending on referral.</small>
  </div>
</div>
<hr class="soften">
  <div class="container marketing">
    <!--<div class="row-fluid">
      <div class="span12 text-center">
        <img src="/assets/dollar.png">
        <img src="/assets/dollar.png">
        <img src="/assets/dollar.png">
      </div>
    </div> -->

    <div class="row-fluid">
      <div class="span12 columns text-left">
        <h1>Earn money by referring customers to us!</h1>
          <p>Join our Affiliate program and enjoy the opportunity to earn some pretty darn cool benefits! They include the potential to enjoy free TV service, $50 to $150 per new customer referral, and bonuses! The sky is the limit on your potential earnings. There is NO start up fees to become an affiliate and no investment of any kind. Give us a call or <%= link_to "shoot us a message", contact_new_path %> to learn more!
          </p> 
      </div>
    </div>
  </div>