

<div class="container marketing">
    <div class="row-fluid">
      <div class="span6 columns text-left">
        <h1>All Texts</h1>
          <% @texts.each do |text| %>
            <p><%= link_to text.title, text %></p>
            <p><%= button_to "Delete Text", text, method: :delete, confirm: "Are you sure you want to delete this?" %></p>
          <% end %>
      </div>
    </div>
  </div>