<div class="container">    
  <div class="row-fluid marketing">
    <div class="span12 columns text-center">
    <h1>Create a new Text!</h1>
    <hr class="soften">
      <%= render "form" %>
    </div>
  </div>
</div>